@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  margin-bottom: 50px;
}

.mainImage{
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-top: 5rem;
}

.astronaut-count{
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.astronauts {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 10px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 30px auto;

}

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.moonsContainerCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moonsContainerCol * {
  margin-bottom: 10px;
}

.moonsContainerRow {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 1 1 1;
  width: 80%;
}

.moonsContainerRow * {
  text-align: center;
  flex: 1;
  margin: auto;
}

.planet-image {
  margin: auto;
}

.description {
  margin: 2rem;
}

.planet-data {
  margin: auto;
  text-align: center;
}